--- 
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";
// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; 
$base-font-size: 16px;
$base-font-weight: 400;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit: 30px;
$text-color: #111;
$background-color: #fdfdfd;
$brand-color: #2a7ae2;
$grey-color: #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark: darken($grey-color, 25%);
// Width of the content area
$content-width: 800px;
$on-palm: 600px;
$on-laptop: 800px;
// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// Import partials from the `minima` theme.

$header-height: 95px;
@import "minima";
.page-content {
  padding: 30px 0;
  background-image: url(/img/homepage-bg.jpg);
  height: 1250px;
  background-repeat: no-repeat;
  background-position-y: -135px;
  margin-top: $header-height;
}

.site-header {
  border-top: none;
  height: $header-height;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: center;
}

.site-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;

  a {
    margin: 0 25px;
    color: rgba(0, 0, 0, 0.35);
  }
}

.nav-link {
  text-transform: uppercase;
}

.site-logo {
  width: 53.16px;
  height: 62.16px;
}

.home {
  position: relative;
  top: 220px;
  left: -240px;
  .para1 {
    margin-bottom: 20px;
  }
  .para2 {
    margin-bottom: 32px;
  }
}

.main-para {
  font-size: 28px;
}


.view-projects-button {
  display: flex;
  text-align: center;
  height: 35px;
  width: 150px;
  border: 1pt solid white;
  color: #423d3a;
  text-transform: uppercase;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.35);
  letter-spacing: 0.75px;
  justify-content: center;
  align-items: center;

  &:visited {
    color: #432d3a;
  }
  &:hover {
    text-decoration: none;
  }
}
