<header class="site-header" role="banner">
  <div class="wrapper">
    <nav class="site-nav">
      {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
        {% for p in navigation_pages %}
          {% if p.navigation_weight %}
          <a href="{{ p.url }}" class="nav-link {% if p.url == page.url %}active {% endif %}">
            {{ p.title }}
          </a>
          {% endif %} 
          {% if p.navigation_weight == 2 %}
            <object class="site-logo" data="/img/logo.svg" alt="Site main logo; shows initials RN"></object>
          {% endif %}
        {% endfor %}
    </nav>
  </div>
</header>
