<header class="site-header" role="banner">
  <div class="wrapper">
    <nav class="site-nav">
      {% assign navigation_pages = site.html_pages | sort: 'navigation_weight' %}
        {% for p in navigation_pages %}
          {% if p.navigation_weight == 1 or p.navigation_weight == 3 %}
          <a href="{{ p.url }}" class="nav-link {% if p.url == page.url %}active {% endif %}">
            <span>{{ p.title }}</span>
          </a>
          {% endif %} 
          {% if p.navigation_weight == 2 %}
            <a href="{{ p.url }}" class="site-logo"></object></a>
          {% endif %}
        {% endfor %}
    </nav>
  </div>
</header>
